<html>
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Vue v-model | 学习笔记</title>
<meta name="description" content="" />
<link rel="shortcut icon" href="https://yuyang0564.github.io/favicon.ico">
<link rel="stylesheet" href="https://yuyang0564.github.io/styles/main.css">

<script src="https://yuyang0564.github.io/media/js/jquery.min.js"></script>
<script src="https://yuyang0564.github.io/media/js/masonry.pkgd.min.js"></script>
<script src="https://yuyang0564.github.io/media/js/aos.js"></script>
<script src="https://yuyang0564.github.io/media/js/pace.min.js"></script>
<script src="https://yuyang0564.github.io/media/js/view-image.min.js"></script>
<script src="https://yuyang0564.github.io/media/js/jquery.magnific-popup.min.js"></script>
<script src="https://yuyang0564.github.io/media/js/functions.js"></script>
    <meta name="referrer" content="never">
    <meta name="description" content="v-model 用来在表单类型中创建双向数据绑定
它会忽略表单元素 value 、 selected 、 checked 的初始值 ，而使用 v-model 绑定的数据作为初始值
&lt;input  v-model=&quot;input..." />
    <meta name="keywords" content="vue2" />
    <script src="https://yuyang0564.github.io/media/js/waterfall.min.js"></script>
    <script src="https://yuyang0564.github.io/media/js/prism.min.js"></script>
  </head>
  <body>
            <header id="header" class="grid-container">
        <!-- start: .menu-wrapper -->
        <div class="menu-mobile"> 
          <i class="fa fa-reorder"></i>
        </div>
        <div class="menu-wrapper">
          <div class="">
            <div class="logo">
              <a href="https://yuyang0564.github.io"><img src="\media\images\custom-headerLogo.jpg" alt=""></a>
            </div>
            <!-- start: .main-nav -->

            <nav class="main-nav grid-container grid-parent">
              <ul id="menu-header" class="menu gradient-effect">
                <li class=""><a href="https://yuyang0564.github.io" class="menu">首页</a></li>
                
                  <li class="" >
                    <a href="/archives" class="menu">
                      归档
                    </a>
                  </li>
                
                  <li class="" >
                    <a href="/tags" class="menu">
                      标签
                    </a>
                  </li>
                
                  <li class="" >
                    <a href="/post/about" class="menu">
                      关于
                    </a>
                  </li>
                
                <li class="search-menu-item hide-on-mobile hide-on-tablet"><a href="#search-lightbox" class="lightbox mfp-inline"><i class="fa fa-search-line"></i></a></li>
              </ul>
            </nav>
            <a href="#search-lightbox" class="lightbox epcl-search-button mfp-inline hide-on-tablet hide-on-desktop"><i class="fa fa-search-line"></i></a>
            <!-- end: .main-nav -->
            <div class="clear"></div>
            <div class="border hide-on-tablet hide-on-mobile"></div>
          </div>    
          <div class="clear"></div>
        </div>
        <!-- end: .menu-wrapper -->
        <div class="clear"></div>
      </header>
      <div class="hide-on-mobile hide-on-tablet hide-on-desktop">
        <div id="search-lightbox" class="grid-container grid-small grid-parent mfp-hide">
          <div class="search-wrapper section">
            <form id="gridea-search-form" data-update="1609385268368" action="/search/index.html" class="search-form" _lpchecked="1">
              <input type="text" name="q" id="s" value="" class="search-field" placeholder="搜点啥..." aria-label="搜点啥..." required="">
              <button type="submit" class="submit" aria-label="Submit">
                <i class="fa fa-search-line"></i>
              </button>
            </form>
          </div>
        </div>
      </div>

      <main id="single" class="main grid-container fullcover no-sidebar aos-init aos-animate" data-aos="fade">

        <div class="center content">
          <div class="featured-image cover" style="background-image: url('https://s1.ax1x.com/2020/06/01/t84GkR.md.jpg');">
            <div class="meta top"> 
              <time class="meta-info" style="float:left;" datetime="2020-06-03"><i class="fa fa-calendar"></i><span class="lately">7 个月前</span></time>
              
              <a href="https://yuyang0564.github.io/tFKRiinFM/#comments" class="comments meta-info" title="">
                <i class="fa fa-comment remixicon"></i><span class="comment-count valine-comment-count" data-xid="/tFKRiinFM/"> </span>
              </a>
              <span id="/tFKRiinFM/" class="leancloud_visitors views-counter meta-info" title=""><i class="fa fa-leancloud remixicon"></i><span class="leancloud-visitors-count"></span></span>
              
            </div>
            <div class="info">
              <div class="tags ">
                
                      <a href="https://yuyang0564.github.io/XZnOL5tqL/" class="ctag ctag-0 ctag-XZnOL5tqL" aria-label="">vue2</a>
                    
              </div>
              <h1 class="title ularge white bold">Vue v-model</h1>
            </div>
          </div>
        </div>  

        <div class="epcl-page-wrapper">
          <div class="left-content grid-70 np-mobile">
            <article class="main-article post">
              <section class="post-content">
                <div class="text">
                  <h1 id="v-model-用来在表单类型中创建双向数据绑定">v-model 用来在表单类型中创建双向数据绑定</h1>
<p>它会忽略表单元素 <code>value</code> 、 <code>selected</code> 、 <code>checked</code> 的初始值 ，而使用 v-model 绑定的数据作为初始值</p>
<pre><code class="language-html">&lt;input  v-model=&quot;inputValue&quot; /&gt;
</code></pre>
<pre><code class="language-js">export default {
    data() {
        return {
            inputValue: &quot; &quot;
        }
    }
}
</code></pre>
<h1 id="v-model-是一个语法糖实际上它在底层监听用户的输入事件并更新数据">v-model 是一个语法糖🍡，实际上它在底层监听用户的输入事件并更新数据</h1>
<ul>
<li>针对 <code>text</code>  和  <code>textarea</code>  的 input，监听 <strong style="color: red">input</strong> 事件， 同步 value 属性</li>
<li>针对  <code>checkbox</code> 和 <code>radio</code> 的 input , 监听 <strong style="color: red">change</strong> 事件 , 同步 checked 属性</li>
<li>针对 <code>select</code> 元素 , 监听 <code>change</code>事件 ， 同步 value 属性</li>
</ul>
<h2 id="checkbox-️">checkbox  ☕️</h2>
<pre><code class="language-html">&lt;div&gt;
        &lt;label for=&quot;a&quot;&gt;A&lt;/label&gt;
        &lt;input type=&quot;checkbox&quot; id=&quot;a&quot; value=&quot;A&quot; v-model=&quot;checkboxList&quot;&gt;
        &lt;label for=&quot;b&quot;&gt;B&lt;/label&gt;
        &lt;input type=&quot;checkbox&quot; id=&quot;b&quot; value=&quot;B&quot; v-model=&quot;checkboxList&quot;&gt;
        &lt;label for=&quot;c&quot;&gt;C&lt;/label&gt;
        &lt;input type=&quot;checkbox&quot; id=&quot;c&quot; value=&quot;C&quot; v-model=&quot;checkboxList&quot;&gt;
&lt;/div&gt;
</code></pre>
<pre><code class="language-js">export default {
    return {
        checkboxList: [ ]
    }
}
</code></pre>
<h2 id="radio-️">radio ☕️</h2>
<pre><code class="language-html">&lt;div&gt;
        &lt;label for=&quot;a&quot;&gt;A&lt;/label&gt;
        &lt;input type=&quot;radio&quot; id=&quot;a&quot; value=&quot;selectA&quot; v-model=&quot;radio&quot;&gt;

        &lt;label for=&quot;b&quot;&gt;B&lt;/label&gt;
        &lt;input type=&quot;radio&quot; id=&quot;b&quot; value=&quot;selectB&quot; v-model=&quot;radio&quot;&gt;

        &lt;label for=&quot;c&quot;&gt;C&lt;/label&gt;
        &lt;input type=&quot;radio&quot; id=&quot;c&quot; value=&quot;selectC&quot; v-model=&quot;radio&quot;&gt;
 &lt;/div&gt;
</code></pre>
<pre><code class="language-js">export default {
    return {
        radio: &quot; &quot;
    }
}
</code></pre>
<h2 id="textarea-️">textarea ☕️</h2>
<pre><code class="language-html">&lt;div&gt;
        &lt;textarea v-model=&quot;text&quot;&gt;&lt;/textarea&gt;
&lt;/div&gt;
</code></pre>
<h2 id="select-️">select  ☕️</h2>
<pre><code class="language-html">&lt;div&gt;
        &lt;select v-model=&quot;select&quot;&gt;
          &lt;option value=&quot;&quot; disabled selected&gt;未选择&lt;/option&gt;
          &lt;option &gt;选择一&lt;/option&gt;
          &lt;option &gt;选择二&lt;/option&gt;
          &lt;option &gt;选择三&lt;/option&gt;
        &lt;/select&gt;
&lt;/div&gt;
</code></pre>
<ul>
<li>针对 <strong style="color: red">select</strong> ,  最好提供一个 disabled 的 <code>option</code> ,  同时 value 为空，以提供默认值</li>
<li>当没有为 option 提供 value 属性时， 会把 option 的值作为 value 的值</li>
</ul>
<pre><code class="language-html">...
&lt;option &gt;选择一&lt;/option&gt;
...
&lt;!--  当选中时， value 的值为 &quot; 选择一 &quot; --&gt;
</code></pre>

                </div>
                <div class="clear"></div>
              </section>
            </article>
            <div class="clear"></div>

            <section class="related section">
              
              <article class="prev grid-50 tablet-grid-50 grid-parent">
                <div class="thumb cover lazy loaded" style="background-image: url('https://s1.ax1x.com/2020/06/01/t84GkR.md.jpg');"></div>
                 <a href="https://yuyang0564.github.io/W5Qxj_AEr/" class="full-link"></a>
                 <div class="info">
                  <time datetime="2020-06-04">2020-06-04</time>
                  <h4 class="title white no-margin">Vue prop</h4>
                </div>
                 <span class="epcl-button red">
                  <img src="https://yuyang0564.github.io/media/images/left-arrow.svg" width="15" alt="Left Arrow">
                </span>
                <div class="overlay"></div>
              </article>
              
              
              <article class="next grid-50 tablet-grid-50 grid-parent">
                <div class="thumb cover lazy loaded" style="background-image: url('https://s1.ax1x.com/2020/06/01/tGnWxs.gif');"></div>
                 <a href="https://yuyang0564.github.io/NtrhYJ8BR/" class="full-link"></a>
                 <div class="info">
                  <time datetime="2020-06-03">2020-06-03</time>
                  <h4 class="title white no-margin">scss  运算符 &#34; / &#34;</h4>
                </div>
                 <span class="epcl-button red">
                  <img src="https://yuyang0564.github.io/media/images/right-arrow.svg" width="15" alt="Left Arrow">
                </span>
                <div class="overlay"></div>
              </article>
              

                <div class="clear"></div>
            </section>

              <div class="clear"></div>
              
            
              <div id="comments" class="bg-white hosted ">
                <p>请到客户端“主题--自定义配置--valine”中填入ID和KEY</p>
              </div>
              <div class="clear"></div>
            

            </div>
          </div>
      </main>

          <footer id="footer" class="grid-container">
        <div class="widgets row gradient-effect">
            <div class="default-sidebar border-effect">
              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="tag_cloud-2" class="widget widget_epcl_posts_thumbs underline-effect">
                  <h4 class="widget-title title white bordered">最新文章</h4>
                  
                  
                  <article class="item post-0 post type-post status-publish format-standard has-post-thumbnail hentry">
                    <a href="https://yuyang0564.github.io/JogPwQc-l/" class="thumb hover-effect">
                      <span class="fullimage cover" style="display:block;border-radius:50%;background-image: url('https://s1.ax1x.com/2020/06/29/NWJt10.jpg');"></span>
                    </a>
                    <div class="info gradient-effect">
                      <time datetime="2020-12-31">2020-12-31</time>
                      <h4 class="title usmall">
                        <a href="https://yuyang0564.github.io/JogPwQc-l/">5.JS盒子模型</a>
                      </h4>
                    </div>
                    <div class="clear"></div>
                  </article>
                  
                  
                  
                  <article class="item post-1 post type-post status-publish format-standard has-post-thumbnail hentry">
                    <a href="https://yuyang0564.github.io/017l4WcMs/" class="thumb hover-effect">
                      <span class="fullimage cover" style="display:block;border-radius:50%;background-image: url('https://s1.ax1x.com/2020/06/29/NWJt10.jpg');"></span>
                    </a>
                    <div class="info gradient-effect">
                      <time datetime="2020-12-30">2020-12-30</time>
                      <h4 class="title usmall">
                        <a href="https://yuyang0564.github.io/017l4WcMs/">2.DOM 元素节点操作</a>
                      </h4>
                    </div>
                    <div class="clear"></div>
                  </article>
                  
                  
                  
                  <article class="item post-2 post type-post status-publish format-standard has-post-thumbnail hentry">
                    <a href="https://yuyang0564.github.io/c-9qBEQuz/" class="thumb hover-effect">
                      <span class="fullimage cover" style="display:block;border-radius:50%;background-image: url('https://s1.ax1x.com/2020/06/29/NWJt10.jpg');"></span>
                    </a>
                    <div class="info gradient-effect">
                      <time datetime="2020-12-30">2020-12-30</time>
                      <h4 class="title usmall">
                        <a href="https://yuyang0564.github.io/c-9qBEQuz/">4.DOM样式操作</a>
                      </h4>
                    </div>
                    <div class="clear"></div>
                  </article>
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  <div class="clear"></div>
                </section>
              </div>

              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="tag_cloud-2" class="widget widget_tag_cloud underline-effect">
                  <h4 class="widget-title title white bordered">标签云</h4>
                  <div class="tagcloud">
                    
                      <a href="https://yuyang0564.github.io/_-SlRQFkE/" class="ctag ctag-0 ctag-_-SlRQFkE" aria-label="">DOM</a>
                    
                      <a href="https://yuyang0564.github.io/FwrXzFa9g/" class="ctag ctag-1 ctag-FwrXzFa9g" aria-label="">工具</a>
                    
                      <a href="https://yuyang0564.github.io/EXv-_I_8W/" class="ctag ctag-2 ctag-EXv-_I_8W" aria-label="">es6</a>
                    
                      <a href="https://yuyang0564.github.io/tgCHrWGK6/" class="ctag ctag-3 ctag-tgCHrWGK6" aria-label="">javascript</a>
                    
                      <a href="https://yuyang0564.github.io/XZnOL5tqL/" class="ctag ctag-4 ctag-XZnOL5tqL" aria-label="">vue2</a>
                    
                      <a href="https://yuyang0564.github.io/LQTZpssFQ/" class="ctag ctag-5 ctag-LQTZpssFQ" aria-label="">css</a>
                    
                      <a href="https://yuyang0564.github.io/gLtCooV-x/" class="ctag ctag-6 ctag-gLtCooV-x" aria-label="">uni-app</a>
                    
                      <a href="https://yuyang0564.github.io/wPui5d2amF/" class="ctag ctag-7 ctag-wPui5d2amF" aria-label="">编码规范</a>
                    
                  </div>
                  <div class="clear"></div>
                </section>
              </div>

              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="epcl_about-2" class="widget widget_epcl_about underline-effect">
                  <h4 class="widget-title title white bordered">关于我</h4>
                  <div class="avatar">
                    <a href="" class="translate-effect thumb"><span class="fullimage cover" style="background-image: url(https://yuyang0564.github.io/images/avatar.png);"></span></a>
                  </div>
                  <div class="info">
                    <h4 class="title small author-name gradient-effect no-margin"><a href="">学习笔记</a></h4>
                    <p class="founder"></p>
                    <div class="social">
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                    </div> 
                  </div>
                  <div class="clear"></div>
                  </section>
              </div>

            </div>
            <div class="clear"></div>
        </div>

        <div class="logo">
          <a href="https://yuyang0564.github.io"><img src="\media\images\custom-footerLogo.jpg" alt=""></a>
        </div>
        <p class="published border-effect">
          ©2019 共 46 篇文章
          <br/>
           Powered by <a href="#">「Yu Yang」</a>
        </p>
        
        <a href="javascript:void(0)" id="back-to-top" class="epcl-button dark" style="display:none">
          <i class="fa fa-arrow"></i>
        </a>
    </footer>
    
    <div class="clear"></div>

        

      
    <script src="https://yuyang0564.github.io/media/js/functions-post.js"></script>

    </div>
    <!-- end: #wrapper -->
  </body>
</html>
